<p>Olá {{name}}, você fez um cadastro no nosso sistema CAF do {{clientName}}</p>
<p>Esse é um email de confirmação de conta.</p>
<a href='{{url}}'>CONFIRMAR</a>

<p>Se você não se cadastrou no CAF do
  {{clientName}}, não se preocupe, apenas ignore esse email.</p>