<p>Olá {{name}}, você foi convidado ao nosso sistema CAF do {{clientName}}</p>
<p>Esse é um email é para você se cadastrar no nosso sistema.</p>
<a href='{{url}}'>CONFIRMAR</a>

<p>Se você não mora no
  {{clientName}}, não se preocupe, apenas ignore esse email.</p>