<p>Olá {{name}}, tudo bem com você? Esperamos que sim!</p>
<p>Nós do CAF, viemos te informar que a encomenda que chegou precisa ser
  registrada na portaria.</p>
<p>Logo mais te chamaremos para retirar seu pacote.</p>

<p>Se você não mora no
  {{clientName}}, não se preocupe, apenas ignore esse email.</p>