<p>Olá {{name}}, tudo bem com você? Esperamos que sim!</p>
<p>Nós do CAF, viemos te informar que chegou encomenda pra você.</p>
<p>Corre lá para retirar.</p>

<p>Se você não mora no
  {{clientName}}, não se preocupe, apenas ignore esse email.</p>